@import '../../app/_variables';

.form-field {
  position: relative;
  display: flex;

  &__error {
    .form-input {
      border-bottom : 1px solid $tabasco-color;
    }

    .floating-label {
      color: $tabasco-color;
      opacity: 1 !important;
      font-size: .12rem !important;
    }
  }
}

.form-input {
  padding: .30rem .05rem .17rem;
  width: 100%;
  border: none;
  border-bottom : 1px solid $mercury-color;
  box-sizing: border-box;
  font-size: .12rem;
  line-height: .16rem;
  color: $tundora-color;
  background: transparent;
  border-radius: 0px;

  &:focus {
    outline: none;
  }

  &:focus ~ .floating-label {
    top: .05rem;
    font-size: .1rem;
    opacity: .4;
  }

  &:not(:focus):valid ~ .floating-label {
    top: .05rem;
    font-size: .1rem;
    opacity: .4;
  }

}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: .05rem;
  top: .21rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-size: .16rem;
  color: $tundora-color;
}

