//colors
$gimblet-color: #BEA972;
$white-color: #fff;
$tundora-color: #474747;
$mercury-color: #E1E1E1;
$tabasco-color: #B10F0F;
$black-color: #2E2E2E;
$scorpion-color: #5E5E5E;
$nobel-color: #B5B5B5;
$wild-sand-color: #F5F5F5;

// Mediaqueries
$tabletsWdide: 1024px;
$tablets: 768px;
$mobile: 415px;