@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@import '_variables';
@import 'fonts/_stylesheet';

*,
*:before,
*:after {
  box-sizing: border-box;
}


.select__control {
  cursor: pointer !important;
}

// анимация ЖК справа
@keyframes router_react {
  0% {
    clip-path: inset(50% 10% 16% 80%);
    background: rgba(71, 71, 71, 1);
  }
  25% {
    clip-path: inset(50% 10% 16% 42%);
    background: rgba(71, 71, 71, 0.8);
  }
  51% {
    clip-path: inset(83% 0% 16% 0%);
  }
  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}

// анимация ЖК слева
@keyframes router_react_left_small {
  0% {
    clip-path: inset(50% 83% 16% 3%);
    background: rgba(71, 71, 71, 1);
  }
  25% {
    clip-path: inset(50% 48% 16% 3%);
    background: rgba(71, 71, 71, 0.8);
  }
  51% {
    clip-path: inset(83% 0% 16% 0%);
  }
  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}

// анимация ЖК центр
@keyframes router_react_center_small {
  0% {
    clip-path: inset(53% 43% 25% 42%);
    background: rgba(71, 71, 71, 1);
  }
  25% {
    clip-path: inset(53% 8% 25% 5%);
    background: rgba(71, 71, 71, 0.8);
  }
  51% {
    clip-path: inset(83% 0% 16% 0%);
  }
  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}

.react-animation-card-small-center {
  animation: 1200ms router_react_center_small ease forwards;
}


.react-animation {
  animation: 1200ms router_react ease forwards;
}

.react-animation-card-small-left {
  animation: 1200ms router_react_left_small ease forwards;
}

// анимация кварталов открытия слева
@keyframes router_react_quarters_left {
  0% {
    clip-path: inset(50% 83% 16% 3%);
  }
  25% {
    clip-path: inset(50% 48% 16% 3%);
  }
  51% {
    clip-path: inset(83% 0% 16% 0%);
    background: rgba(71, 71, 71, 1);
  }
  100% {
    clip-path: inset(0% 0% 0% 0%);
    background: rgba(71, 71, 71, 1);
  }
}

// анимация кварталов открытия центр
@keyframes router_react_quarters_center {
  0% {
    clip-path: inset(53% 43% 25% 42%);
  }
  25% {
  }
  51% {
    clip-path: inset(83% 0% 16% 0%);
    background: rgba(71, 71, 71, 1);
  }
  100% {
    clip-path: inset(0% 0% 0% 0%);
    background: rgba(71, 71, 71, 1);
  }
}

// анимация кварталов открытия справа
@keyframes router_react_quarters_right {
  0% {
    clip-path: inset(50% 10% 16% 80%);
  }
  25% {
    clip-path: inset(50% 10% 16% 42%);
  }
  51% {
    clip-path: inset(83% 0% 16% 0%);
    background: rgba(71, 71, 71, 1);
  }
  100% {
    clip-path: inset(0% 0% 0% 0%);
    background: rgba(71, 71, 71, 1);
  }
}

.quarters-router-animation-left {
  animation: 1200ms router_react_quarters_left ease forwards;
}

.quarters-router-animation-center {
  animation: 1200ms router_react_quarters_center ease forwards;
}

.quarters-router-animation-right {
  animation: 1200ms router_react_quarters_right ease forwards;
}



.body-item-hide {
  .item-residential {
    opacity: 0;
  }
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 6.6666vw;

  @media screen and(max-width: $tabletsWdide){
    font-size: 8vw;
  }

  @media screen and(max-width: $tablets){
    font-size: 13.0208vw;
  }

  @media screen and(max-width: $mobile){
    font-size: 31.25vw;
  }
}

::-moz-selection {
  background: #FBEB98;
  color: #474747;
}
::selection {
  background: #FBEB98;
  color: #474747;
}

body {
  color: #333;
  //background-color: #fafafa;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  line-height: 1.5;
  overflow: hidden;
}

.font-small {
  font-family: 'Raleway', sans-serif;
  font-size: .12rem;
  color: $white-color;

  &__upper {
    font-family: 'Raleway Bold', sans-serif;
    font-size: .12rem;
    color: $white-color;
    text-transform: uppercase;
  }
}

.tabs__top-line {
  position: absolute;
  background-color: #E1E1E1;
  width: 100%;
  height: 5px;
}

.font-large {
  font-family: 'Raleway', sans-serif;
  font-size: .24rem;
  color: $tundora-color;

  &__upper {
    font-family: 'Raleway Bold', sans-serif;
    font-size: .24rem;
    color: $white-color;
    text-transform: uppercase;
  }
}
.font-medium {
  font-family: 'Raleway', sans-serif;
  font-size: .16rem;
  color: $tundora-color;

  &__upper {
    font-family: 'Raleway Bold', sans-serif;
    font-size: .16rem;
    color: $white-color;
    text-transform: uppercase;

    @media screen and(max-width: $mobile) {
      font-size: .14rem;
      line-height: .24rem;
    }
  }

  @media screen and(max-width: $mobile) {
    font-size: .14rem;
    line-height: .24rem;
  }
}

a {
  display: inline-block;
}

.title-section {
  font-family: 'Raleway', sans-serif;
  font-size: .34rem;
  line-height: .44rem;
  color: $tundora-color;

  @media screen and(max-width: $mobile) {
    font-size: .24rem;
    line-height: .34rem;
  }
}

.sent-successful {
  font-family: 'Raleway', sans-serif;
  font-size: .16rem;
  color: $tundora-color;
}

.scroll-off {
  overflow: hidden;
}

.animate {
  transform: translateX(-.3rem);
  transition: opacity .5s, transform .5s;
  opacity: 0;
}

.animate-opacity {
  transition: opacity .5s;
  opacity: 0;
}

.animate.in-view {
  opacity: 1;
  transform: translateX(0);
}

// BREADCRUMBS

.breadcrumbs {
  position: absolute;
  top: 1rem;
  left: .3rem;
  z-index: 3;
  display: flex;

  span {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: .12rem;
    color: $white-color;
    letter-spacing: .5px;
  }

  a {
    display: flex;
    font-family: 'Raleway Bold', sans-serif;
    font-size: .12rem;
    color: $white-color;
    text-decoration: none;
    letter-spacing: .5px;
  }

  b {
    margin: 0 .1rem;
  }

  @media screen and(max-width: $mobile) {
    display: none;
  }
}

.main-quarters {
  .breadcrumbs {
    a, span {
      color: $tundora-color;
    }
  }
}

// GOOGLE MAP OFF SATELLITE

.gm-style-mtc {
  display: none;
}

.cursor-default {
  cursor: default;
}

// Scroll line

.scroll-lines {
  width: .01rem;
  height: .6rem;
  overflow: hidden;
  position: absolute;
  right: 0.3rem;
  bottom: 0;
  z-index: 1;
  background: rgba(255, 255, 255, .4);
}

.scroll-down-line {
  width: .01rem;
  height: 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: scrollDown 3s ease;
  animation: scrollDown 3s ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes scrollDown {
  0% {
    height: 0;
  }
  25% {
    height: 100%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 0;
    top: auto;
    bottom: 0;
  }
}















.slider-conteiner {
  height: 100vh;
  min-width: 100vh;
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}


.slider-controll {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.home-welcome__subtitle {
  opacity: 0;
  transform: translateY(.3rem);
  // transition-delay: 1s !important;
  // transition: 1s;
}

.home-welcome__btn-pointer,
.home-welcome__title {
  // transform: translateX(.3rem);
  transition: 1s;
  opacity: 0;
}

// .home-welcome__rectangle {
//   max-width: 0 !important;
//   transition: 0.6s;
// }

.react {
  .home-welcome__subtitle {
    opacity: 1;
    transform: translateY(0);
  }
  .home-welcome__btn-pointer,
  .home-welcome__title {
    opacity: 1;
    transform: translateX(0);
  }
  // .home-welcome__rectangle {
  //   max-width: 3.3rem !important;
  // }
}

.content {
  // position: absolute;
  // top: 150px;
  // left: 50%;
  // color: #000;
  // background-color: #fff;
  // padding: 10px;
  // font-size: 30px;
  transition: transform 1.5s, opacity 1s;
  /* transition-delay: 0.5s; */
  opacity: 0;
  transform: translateY(50px);
}



.react .content {
  opacity: 1;
  transform: translateY(0);

  transition-delay: 0.3s
}


.react .content {
  .btn-animated-custom {
    transition-delay: 2s !important;
  }
}

.react img {
  transform: scale(1.04);
}


.slider {
  display: flex;
  height: 100%;
  width: 100vw;
  position: relative;
}

.slider li {
  transform: translateX(100%);

  will-change: transform;
  position: absolute;
  left: 0;
  /* width: 100vw; */
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.react {
  transition: transform 1s ease;
}

.slider li.visible {
  transform: translateX(0%);
}

.slider li:first-child {
  transform: translateX(0%);
}

.slider img {
  height: 100%;
  width: 100%;
  transition: 4s;
  transition-delay: 1s;
  object-fit: cover;
  display: block;
}

.slider-dots {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  z-index: 1000;
  align-items: flex-end;
  flex-direction: column;

}

.slider-dots span {
  background-color: red;
  width: 35px;
  transition: .5s;
  margin-bottom: 10px;
  height: 3px;

}

.slider-dots span.active {
  width: 100px;
}

.slider-controll {
  // position: relative;
  // top: -150px;
  // z-index: 1000;
}

.awssld__controls {
  z-index: 1000 !important;
}

.awssld__controls button {
  z-index: 1000 !important;
}

.slider-controll button {
  background-color: #000;
  padding: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 10px;
  border-radius: 10px;

}

.awssld__controls__arrow-left,
.awssld__controls__arrow-right {
  height: .2rem !important;
}

.active {
  z-index: 2 !important;
}

