@import '../../app/_variables';

.wrap-social {
  display: flex;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  background: $scorpion-color;
  margin-right: .15rem;

  &:last-child {
    margin-right: 0;
  }

  svg {
    path {
      width: 100%;
      transition: .4s;
    }
  }

  &:hover {
    svg {
      path {
        fill: #BEA972;
      }
    }
  }
}


