@import '../../app/_variables';

.slider-on-single {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item-desc {
    margin-top: .4rem;

    p {
      a {
        color: $gimblet-color;
      }
    }
  }

  &__revers {
    flex-direction: row-reverse;

    .slider-on-single__count {
      padding-left: .6rem;
      display: flex;
      align-items: center;

      &:after {
        content: '';
        display: block;
        //width: 5rem;
        height: 1px;
        background: $mercury-color;
        margin-left: .6rem;

        @media screen and(max-width: $mobile) {
          display: none;
        }
      }

      @media screen and(max-width: $mobile) {
        position: absolute;
        bottom: -.05rem;
        padding-left: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @media screen and(min-width: 769px) {
      .slick-slider .slick-next {
        right: .7rem;
      }

      .slick-slider .slick-prev {
        right: 1.6rem;
      }
    }

  }

  &__text {
    // width: 5.9rem;
    // padding: 0 .2rem;

    padding: 0 .6rem;

    @media screen and(max-width: $tablets) {
      width: 100%;
      padding: 0 .3rem;
    }

    @media screen and(max-width: $mobile) {
      padding: 0 .2rem;
    }
  }

  &__slider {
    width: 64%;
    position: relative;

    @media screen and(max-width: $tablets) {
      width: 100%;
      margin-top: .4rem;
    }
  }

  &__img {
    width: 7.75rem;
    height: 5.9rem;
    cursor: pointer;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media screen and(max-width: $mobile) {
      height: 2.5rem;
    }
  }

  &__count {
    margin-top: .1rem;
    width: fit-content;
    font-family: 'Raleway', sans-serif;
    font-size: .14rem;
    color: $tundora-color;
    position: relative;

    &::after {
      content: '';
      width: 5rem;
      height: 1px;
      background: #E1E1E1;
      position: absolute;
      top: 50%;
      left: .9rem;
      @media screen and(max-width: $tabletsWdide) {
        width: 4rem;
      }
    }

    @media screen and(max-width: $tabletsWdide) {
      margin-top: 0;
    }

    @media screen and(max-width: $tablets) {
      padding-left: .6rem;
      &::after {
        width: 3.5rem;
        left: 1.2rem;
        margin-left: 0 !important;
      }
    }

    @media screen and(max-width: $mobile) {
      padding-left: 0;position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -.1rem;
      &::after {
        display: none;
      }
    }

  }

  .slick-arrow {
    position: absolute;
    bottom: -.1rem;

    &:before {
      display: none;
    }

    .btn-arrow {
      border: 1px solid $mercury-color;

      &:hover {
        path {
          fill: $black-color
        }
      }
    }

    path {
      fill: $gimblet-color;
    }

    @media screen and(max-width: $mobile) {
      bottom: -.2rem;
      z-index: 1;
    }
  }

  .slick-next {
    right: 1.5rem;
    top: unset;

    @media screen and(max-width: $mobile) {
      right: .2rem;
    }
  }

  .slick-prev {
    top: unset;
    left: unset;
    right: 2.35rem;

    @media screen and(max-width: $tablets) {
      right: 2.1rem;
    }

    @media screen and(max-width: $mobile) {
      right: unset;
      left: .2rem;
    }
  }

  @media screen and(max-width: $tablets) {
    flex-direction: column;
  }
}



