@import '../../app/_variables';

.wrap-item-residential {
  width: calc(33.3% - .30rem) ;
  margin: .65rem .15rem 0;

  @media screen and(max-width: $tablets) {
    width: 48%;
    margin: .65rem 0 0;
  }

  @media screen and(max-width: $mobile) {
    margin: .4rem 0 0 0;
    width: 100%;
  }

}

.main-quarters {
  .wrap-item-residential {
    width: calc(33.3% - .263rem);
    margin: .65rem 0 0;
    &:nth-of-type(3n-2) {
      margin: .65rem .4rem 0;
    }
    @media screen and(max-width: $tablets) {
      width: 48%;
      margin: .65rem 0 0;
      &:nth-of-type(3n-2) {
        margin: .65rem 0 0;
      }
    }

    @media screen and(max-width: $mobile) {
      margin: .4rem 0 0 0;
      width: 100%;
    }
  }
}

.item-residential {
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  position: relative;
  z-index: 1;
  display: flex;

  &__wrap-img {
    width: 100%;
    height: 440px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      //height: auto;
      height: 440px;
      object-fit: cover;
    }

    @media screen and(max-width: $mobile) {
      width: 2.8rem;
      height: 3.1rem;

      img {
        height: 3.1rem;
      }
    }
  }

  &__wrap-info-pop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .2rem;
    position: absolute;
    background: rgba(42, 42, 42, 0.514095);
    top: 100%;
    right: 100%;
    height: 100%;
    width: 100%;
    transition: .4s;
  }

  &__info {
    display: flex;
    justify-content: space-between;

    &__m-top {
      margin-top: .3rem;
      justify-content: space-between;
      display: flex;
    }
  }

  &__info-bottom {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: .33rem;

    .rectangle {
      width: .6rem;
      height: 1px;
      margin-left: .3rem;
      background: $white-color;
    }
  }

  &__wrap-point-map {
    width: .41rem;
    height: .41rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: .2rem;
    right: .2rem;
    border: 1px solid $white-color;
    border-radius: 50%;
    transition: .4s;
    z-index: 9;

    svg {
      width: .11rem;
      height: .13rem;

      path {
        transition: .4s;
      }
    }

    &:hover {
      background: $white-color;

      svg {
        path {
          fill: $tundora-color;
        }
      }
    }
  }

  &__wrap-info {
    width: 4.2rem;

    .font-large {
      margin-top: .3rem;

      @media screen and(max-width: $mobile) {
        margin-top: .2rem;
      }
    }

    .font-medium {
      margin-top: .2rem;
      letter-spacing: .5px;

      @media screen and(max-width: $mobile) {
        margin-top: .1rem;
      }
    }

    @media screen and(max-width: $tabletsWdide) {
      width: 100%;
    }

    @media screen and(max-width: $mobile) {
      display: flex;
      width: 100%;
      flex-direction: column;
    }
  }

  &__full-width {
    width: 8.9rem;
  }

  &__flex-dir {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;

    .item-residential__wrap-info > div {
      padding: 0 .15rem 0 0;
      font-family: 'Raleway', sans-serif;
      font-size: .16rem;
      color: #474747;

      p {
        margin-top: .15rem;
      }
    }

    @media screen and(max-width: $tabletsWdide) {
      .item-residential__wrap-info {
        width: 32%;
      }
    }

  }

  &__revers {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
  }

  &:hover &__wrap-info-pop {
    top: 0;
    right: 0;
    //bottom: 0;
    //left: 0;
  }

  .font-small__upper {
   transition: .4s;


  }
}

