@import '../../app/_variables';

.img-full-with {

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 0 .6rem;

    @media screen and(max-width: $tablets) {
      padding: 0 .3rem;
      flex-direction: column;
    }

    @media screen and(max-width: $mobile) {
      padding: 0 .2rem;
    }
  }

  &__title {
    width: 3.85rem;

    @media screen and(max-width: $tablets) {
      width: 100%;
    }
  }

  &__desc {
    width: 65%;


    @media screen and(max-width: $tabletsWdide) {
      width: 66%;
    }

    @media screen and(max-width: $tablets) {
      margin-top: .3rem;
      width: 100%;
    }


    @media screen and(max-width: $mobile) {
      width: 100%;
    }
  }

  &__bottom {
    margin-top: .5rem;
    //height: 5.9rem;
    position: relative;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(180deg,rgba(0,0,0,.11),transparent),linear-gradient(0deg,rgba(0,0,0,.11),transparent 50%) rgba(13,15,81,.18);
    }

    @media screen and(max-width: $mobile) {
      height: 2.5rem
    }
  }
}

