@import '../../app/_variables';

// .complex-single-ready {
//   .main-header__scroll {

//   }
// }

.main-single-residential {
  background: $white-color;
  margin-bottom: .3rem;

  @media screen and(max-width: $mobile) {
    margin-bottom: .6rem;
  }

  .breadcrumbs span > span {
    opacity: 0;
    transition: 0.6s;
  }

  .slider__item-deadline-cam {
    opacity: 0 !important;
    transform: translateX(50px);
    transition: 1s;
    transition-delay: 500ms;
  }

  .breadcrumbs span > span:nth-child(1n) {
   transition-delay: 500ms;
  }

  .breadcrumbs span > span:nth-child(2n) {

    transition-delay: 1000ms;
  }

  .breadcrumbs span > span:nth-child(3n) {

    transition-delay: 1500ms;
  }

  .slider__item  {
    position: relative;
    &::before {
      content: none;
    }
    &::after {
      content: '';
      width: 100%;
      bottom: 50% !important;
      position: absolute;
      height: 0 ;
      transition: height 0.4s;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.11) 0, transparent 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.11) 0, transparent 50%) rgba(13, 15, 81, 0.18);
    }
    &::before {
      content: '';
      width: 100%;
      top: 50% !important;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.11) 0, transparent 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.11) 0, transparent 50%) rgba(13, 15, 81, 0.18);
      position: absolute;
      height: 0;
      transition: height 0.4s;
      z-index: 0;
      left: 0;
    }

  }

  .slider__item-deadline-cam {
    opacity: 0;
    transform: translateX(50px);
    transition: 0.6s;
  }

  .slider__item-title {
    opacity: 0;
    transition: .6s;
    transform: translateY(50px);
    overflow: hidden;
    transition-delay: .4s;
  }
  .slider__item-deadline-wrap {
    transition: 0.6s;
    transition-delay: 1s;
    opacity: 0;
    z-index: 2;
    transform: translateY(-50px);
    overflow: hidden;
  }

  .slider__item-wrap-phone {
    transition: 0.6s;
    transition-delay: 1.5;
    transform: translateY(100px);
    opacity: 0;
  }

  .slider__item-content-btns {
    opacity: 0;
    transform: translateX(50px);
    transition: 0.6s;
  }

  .slider__item-content {
    z-index: 2;
  }

  .slider__item-label.font-small {
    opacity: 0;
    transition: .6s;
    transform: translateY(-50px);
    overflow: hidden;
  }

  &.animation-ready {
  .slider__item {
    &::before {
      top: 0;
      height: 50%;
    }
    &::after {
      bottom: 0;
      height: 50%;
    }
  }

  .slider__item-deadline-cam {
    opacity: 1 !important;
    transform: translate(0, 0);
  }

  .breadcrumbs span > span {
    opacity: 1;
  }

    .slider__item-title,
    .slider__item-deadline-wrap,
    .slider__item-content-btns,
    .slider__item-label.font-small,
    .slider__item-wrap-phone,
    .slider__item-deadline-cam {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

.welcome-single-residential {
  height: 100vh;

  .slider__item-deadline-cam {
    position: absolute;
    cursor: pointer;
    right: .3rem;
    top: 1rem;
    text-transform: uppercase;
    font-family: 'Raleway Bold', sans-serif;
    font-size: .12rem;
    z-index: 2;
  }

  .slider__item {
    .btn-primary {
      @media screen and(max-width: $mobile) {
        width: 100%;
      }
    }
  }
}

.single-slider-section {
  margin-top: 1rem;
  background: $white-color;

  @media screen and(max-width: $mobile) {
    margin-top: .6rem;
  }


  &__revers {
    // padding: 0 .6rem 0 0;

  }

  .container {
    height: 7.2rem;
    width: 100%;

    .slider-1 {
      height: 100%;

      .slider__item {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and(max-width: $tablets) {
          flex-direction: column;
        }
      }

      .slider__item-right {
        flex-direction: row-reverse;

        @media screen and(max-width: $tablets) {
          flex-direction: column;
        }
      }

      .slider__item-rectangle {
        position: absolute;
        background: $mercury-color;
        right: 2.58rem;
        bottom: .1rem;

        @media screen and(max-width: $tablets) {
          bottom: -.6rem;
        }

        @media screen and(max-width: $mobile) {
          display: none
        }
      }

      .slider__item-content {
        position: static;
        width: 3.9rem;

        @media screen and(max-width: $tablets) {
          width: 100%;
          padding: 0 .3rem;
        }
        @media screen and(max-width: $mobile) {
          padding: 0 .2rem;
        }
      }

      .slider__item-img {
        @media screen and(max-width: $tablets) {
          margin-top: .5rem;
        }

        @media screen and(max-width: $mobile) {
          width: 3.2rem;
          height: 2.5rem;
        }
      }

      .slider__item-title {
        font-family: 'Raleway', sans-serif;
        font-size: .34rem;
        line-height: .44rem;
        color: $tundora-color;
        width: auto;
        text-transform: none;
        letter-spacing: normal;

        @media screen and(max-width: $mobile) {
          font-size: .24rem;
          line-height: .34rem;
        }
      }

      .slider__item-desc-short {
        height: .9rem;
        overflow: hidden;

        p {
          height: inherit;
        }
      }

      .slider__item-desc {
        font-family: 'Raleway', sans-serif;
        font-size: .16rem;
        line-height: .26rem;
        color: $tundora-color;
        letter-spacing: .5px;
        margin-top: .4rem;

        @media screen and(max-width: $mobile) {
          font-size: .14rem;
          line-height: .24rem;
        }
      }

      .action {
        bottom: -.3rem;
        display: flex;

        .btn-arrow {
          border: 1px solid $mercury-color;

          svg {
            width: .15rem;
            height: .11rem;

            path {
              fill: $gimblet-color;
              transition: .4s;
            }
          }

          &:hover svg path {
            fill: $tundora-color;
          }
        }

        @media screen and(max-width: $tablets) {
          bottom: -1rem;
        }
      }

      .count-on-single-slider {
        font-family: 'Raleway', sans-serif;
        font-size: .18rem;
        letter-spacing: .5px;
        position: absolute;
        bottom: 0;
        left: 4.5rem;
        color: #000;
        z-index: 2;
        width: .6rem;
        display: flex;
        justify-content: space-between;

        div {
          display: flex;
        }

        @media screen and(max-width: $tablets) {
          left: .3rem;
          bottom: -.7rem;
        }
      }
    }
  }

  @media screen and(max-width: $tablets) {
    padding: 0;
    margin-bottom: 0;
  }

  @media screen and(max-width: $mobile) {
    //padding: .8rem 0 0 0;
  }
}


.characteristics {
  //  background: $wild-sand-color;
  //  padding: 1rem .6rem;
  //  margin-top: 1rem;
  //
  //  @media screen and(max-width: $tablets) {
  //    padding: 1rem .3rem;
  //  }
  //
  //  @media screen and(max-width: $mobile) {
  //    padding: .6rem 0;
  //  }

  &__top {
    display: flex;
    justify-content: space-between;

    @media screen and(max-width: $mobile) {
      padding-left: .2rem;
    }
  }
}

.single-img-text-section {
  padding-top: 1rem;
  //padding-bottom: 1rem;

  @media screen and(max-width: $mobile) {
    padding-top: .6rem;
  }
}

.single-planing-section {
  margin-top: 1rem;
  position: relative;

  @media screen and(max-width: $mobile) {
    margin-top: .6rem;
  }

  .title-section {
    position: absolute;
    left: .6rem;

    @media screen and(max-width: $tablets) {
      top: -.4rem;
      left: .3rem;
    }

    @media screen and(max-width: $mobile) {
      position: initial;
      padding: 0 .2rem;
      margin-bottom: .2rem;
    }

  }

  .slick__item {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 5rem;
    transition: .4s;

    &__wrap-img {
      width: 4.3rem;
      height: 2.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: .05rem solid $wild-sand-color;

      img {
        width: auto;
        height: 80%;
        object-fit: cover;
      }

      @media screen and(max-width: $tablets) {
        width: 3rem;
        height: 1.8rem;
      }

      @media screen and(max-width: $mobile) {
        width: 2.1rem;
      }
    }

    @media screen and(max-width: $tablets) {
      height: 3rem;
    }
  }

  .slick__item:focus {
    outline: none;
  }

  .slick-slide img {
    user-select: none;
  }

  .tabs__top {
    width: 9.5rem;
    padding: 0 .6rem 0 0;
    margin-left: auto;
    margin-right: 0;

    .slick-slider {

      .tabs__item {
        padding: .2rem 0;
        //width: 1rem;
        display: flex !important;
        outline: none;
      }

      @media screen and(max-width: $tablets) {
        display: none;
      }
    }

    .tabs__top-wrap-overflow {
      display: none;
      width: max-content;

      .tabs__item {
        padding: .2rem 0;
        margin-right: .15rem;
        @media screen and(max-width: $tablets) {
          margin-right: .3rem;
        }
        @media screen and(max-width: $mobile) {
          margin-right: .21rem;
          width: max-content;
        }
      }

      @media screen and(max-width: $tablets) {
        display: flex;
        justify-content: center;
        width: 100%;
      }

      @media screen and(max-width: $mobile) {
        width: max-content;
      }

    }

    @media screen and(max-width: $tablets) {
      width: 100%;
      padding: 0 .2rem;
      overflow: auto;
    }
  }

  .tabs__bottom {

    .btn-arrow {
      border: 1px solid $mercury-color;

      svg {
        path {
          fill: $gimblet-color;
        }
      }

      &:hover {
        svg {
          path {
            fill: $tundora-color;
          }
        }
      }
    }

    .btn-arrow {
      position: absolute;
      top: 2rem;
      right: 2rem;
      z-index: 2;

      @media screen and(max-width: $tablets) {
        right: .5rem;
        top: 1.2rem;
      }

      @media screen and(max-width: $mobile) {
        right: .2rem;
        top: unset;
        bottom: -.2rem;
      }
    }

    .btn-arrow.btn-arrow__skew-right {
      position: absolute;
      top: 2rem;
      left: 2rem;
      right: auto;

      @media screen and(max-width: $tablets) {
        left: .5rem;
        top: 1.2rem;
      }

      @media screen and(max-width: $mobile) {
        left: .2rem;
        top: unset;
        bottom: -.2rem;
      }
    }


    .slick-active {

      .slick__item {
        transform: scale(1.5);
      }
    }
  }

  .tabs__bottom-count {
    font-family: 'Raleway', sans-serif;
    font-size: .18rem;
    line-height: .26rem;
    color: #474747;
    letter-spacing: .5px;
    text-align: center;
  }
}

.single-advantages-section {
  margin-top: 1rem;

  .title-section {
    position: absolute;
    left: .6rem;

    @media screen and(max-width: $tablets) {
      left: .3rem;
    }

    @media screen and(max-width: $mobile) {
      left: .2rem;
    }

  }

  .tabs {
    &__arrows {
      width: 2.1rem;
      display: flex;
      justify-content: space-between;
      margin-left: auto;
      margin-right: .6rem;
      padding: .2rem 0;

      svg {
        cursor: pointer;
      }

      @media screen and(max-width: $tablets) {
        margin-bottom: .3rem;
      }

      @media screen and(max-width: $mobile) {
        margin-bottom: .1rem;
        padding: .6rem 0 0 0;
      }
    }

    &__arrows-count {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: .06rem;
      right: 2.1rem;

      .font-small {
        color: $tundora-color;
        font-family: 'Raleway Bold', sans-serif;
        letter-spacing: .5px;

        &:first-child:after {
          content: '/';
          padding: 0 .05rem;
        }
      }

      @media screen and(max-width: $tablets) {
        right: 1.6rem;
        top: .16rem;
      }

      @media screen and(max-width: $mobile) {
        display: none;
      }
    }

    &__top {
      padding: 0 .6rem;
      border-top: 1px solid $mercury-color;
      margin-top: .5rem;

      .slick-prev {
        left: unset;
        right: 2.5rem;
        top: -.7rem;

        &:before {
          display: none;
        }

        @media screen and(max-width: $tablets) {
          right: 2.2rem;
          top: -.4rem;
        }
        @media screen and(max-width: $mobile) {
          right: .9rem;
          //top: -.7rem;
        }
      }


      .slick-next {
        right: .85rem;
        top: -.7rem;

        &:before {
          display: none;
        }

        @media screen and(max-width: $tablets) {
          top: -.4rem;
        }
        @media screen and(max-width: $mobile) {
          right: .4rem;
          //top: -.7rem;
        }
      }

      @media screen and(max-width: $tablets) {
        padding: 0 .3rem;
        margin-top: 0;
      }

      @media screen and(max-width: $mobile) {
        padding: 0 .2rem;
      }

      .slick-list {
        @media screen and(max-width: $mobile) {
          padding: 0 !important;
          .font-small {
            max-width: 1.1rem;
          }
        }
      }

    }

    &__item {
      padding: .25rem 0;
      box-sizing: border-box;
      display: flex !important;
      outline: none;

      @media screen and(max-width: $mobile) {
        padding: .2rem 0;
      }

      .font-small {
        text-transform: none;
        letter-spacing: .5px;
        width: 1.1rem;
        line-height: .14rem;

        @media screen and(max-width: $tablets) {
          width: 100%
        }
      }
    }

    &__item.active {
      .tabs__item-intro-img {
        opacity: 1;
      }
    }

    &__item-intro {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__item-intro-img {
      margin-right: .2rem;
      width: .4rem;
      height: .4rem;
      display: flex;
      opacity: .5;

      img {
        width: 100%;
      }

      @media screen and(max-width: $tablets) {
        width: .3rem;
        height: .3rem;
        margin-right: .05rem;
      }
    }

    &__bottom {
      display: flex;
      position: relative;

      img {
        width: 100%;
        //height: auto;
        object-fit: cover;
      }
    }

    &__bottom-img-desc {
      position: absolute;
      line-height: .26rem;
      width: 5.25rem;
      letter-spacing: .5px;
      color: $white-color;
      bottom: .4rem;
      left: .6rem;

      @media screen and(max-width: $tablets) {
        left: .3rem;
      }

      @media screen and(max-width: $mobile) {
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 .2rem;
      }
    }

    &__bottom-flex {
      display: flex;
      width: 100%;
      height: 5.4rem;
      position: relative;

      &:before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg,rgba(0,0,0,.11),transparent),linear-gradient(0deg,rgba(0,0,0,.11),transparent 50%) rgba(13,15,81,.18);
      }

      @media screen and(max-width: $mobile) {
        height: 4.5rem;
      }
    }

    &__top-active {
      height: 5px;
      z-index: 1;
      background: $gimblet-color;
      position: absolute;
      top: 0;
      left: 0;
      transition: .4s;
    }
  }

  @media screen and(max-width: $mobile) {
    margin-top: .6rem;
    margin-bottom: .4rem;
  }
}

.single-location-infrastructure-section {
  margin-top: .5rem;

  .title-section {
    padding: 0 .6rem;

    @media screen and(max-width: $tablets) {
      padding: 0 .3rem;
    }
  }

  .tabs {
    &__top {
      padding: 0;
      border-top: 1px solid $mercury-color;
      margin-top: .3rem;


      .tabs__top-wrap-overflow {
        display: none;
        width: max-content;

        .tabs__item:not(:last-child) {
          margin-right: .15rem;
          @media screen and(max-width: $tablets) {
            margin-right: .3rem;
          }
          @media screen and(max-width: $mobile) {
            margin-right: .21rem;
          }
        }

        @media screen and(max-width: $tablets) {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
        @media screen and(max-width: $mobile) {
          width: max-content;
        }
      }

      .slick-slider {

        @media screen and(max-width: $tablets) {
          display: none;
        }
      }

      @media screen and(max-width: $tablets) {
        width: 100% !important;
        overflow: auto;
        padding: 0 .2rem;
      }
    }

    &__item {
      padding: .25rem 0;
      border-top: 1px solid transparent;
      display: flex !important;
      justify-content: center;
      outline: none;

      .font-small {
        text-align: center;
      }
    }

    &__item.active {
      border-top: 1px solid $tundora-color;
    }

    &__bottom {
      height: 6rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .gm-style-iw.gm-style-iw-c {
        padding: 0;
        width: 1.9rem;
        max-height: 2rem;
        border-radius: 0;
        overflow: visible;
        background: $tundora-color;
        display: flex;
        align-items: center;

        .gm-style-iw-d {
          overflow: auto !important;
          height: 100%;

          div {
            height: 100%;
          }
        }

        button {
          top: -24px !important;
          right: -24px !important;
        }
      }

      .info-window {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;
        align-items: center;

        &__img {
          display: flex;
          width: 40%;
          object-fit: cover;
        }

        &__desc {
          padding: .1rem;
          font-family: Raleway, sans-serif;
          font-size: .12rem;
          line-height: .15rem;
          letter-spacing: .5px;
          color: $white-color;
          width: 60%;
        }
      }

      @media screen and(max-width: $mobile) {
        height: 3.5rem;
      }
    }

    &__bottom > div {
      @media screen and(max-width: $mobile) {
        height: 3.5rem !important;
      }
    }
  }
}

.single-progress-section {
  margin-top: 1rem;

  @media screen and(max-width: $mobile) {
    margin-top: .6rem;
  }

  .title-section {
    position: absolute;
    left: .6rem;

    @media screen and(max-width: $tablets) {
      left: .3rem;
    }

    @media screen and(max-width: $mobile) {
      left: .2rem;
    }

  }

  .slick__item {
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: .4s;
    flex-direction: column;
    outline: none;

    &__wrap-img {
      width: 8.2rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: .05rem solid $wild-sand-color;
      // transition: .4s;
      padding: .2rem;

      img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        transform: scale(.8);
        transition: transform 1s;
      }

      @media screen and(max-width: $tabletsWdide) {
        width: 6.2rem;
      }

      @media screen and(max-width: $tablets) {
        width: 4.5rem;
        height: 3.1rem !important;
      }

      @media screen and(max-width: $mobile) {
        width: 100%;
        height: 2.1rem !important;
      }
    }
  }

  .tabs {
    position: relative;

    &__top {
      padding: 0 .8rem;
      margin: .25rem auto 0;
      border-bottom: 1px solid $mercury-color;
      transition: .4s;

      .slick-slider {
        .tabs__item {
          padding: .2rem 0;
          display: flex !important;
          outline: none;
        }

        @media screen and(max-width: $tablets) {
          display: none;
        }
      }

      .slick-prev {
        left: -.4rem;
        top: .35rem;

        &:before {
          display: none;
        }
      }


      .slick-next {
        right: -.5rem;
        top: .35rem;

        &:before {
          display: none;
        }
      }

      .tabs__top-wrap-overflow {
        display: none;
        width: max-content;

        .tabs__item {
          padding: .2rem 0;
          margin-right: .15rem;

          @media screen and(max-width: $mobile) {
            margin-right: .3rem;
          }
        }

        @media screen and(max-width: $tablets) {
          width: auto;
          display: flex;
          justify-content: space-between;
        }
        @media screen and(max-width: $mobile) {
          width: max-content;
          margin-right: .21rem;
        }
      }

      @media screen and(max-width: $tablets) {
        padding: 0 .3rem;
        overflow: auto;
        margin-top: 0;
      }

      @media screen and(max-width: $mobile) {
        padding: 0 .2rem;
        margin-top: 0;
      }
    }

    &__item.font-small {
      border-bottom: 1px solid transparent;
    }

    &__item.font-small.active {
      border-bottom: 1px solid $tundora-color;
    }

    &__item {
      width: auto !important;
      display: flex !important;
      justify-content: center !important;
      padding: .22rem 0;
      font-family: 'Roboto', sans-serif;
      outline: none;
    }

    &__bottom {
      margin-top: .5rem;

      .btn-arrow {
        border: 1px solid $mercury-color;

        svg {
          path {
            fill: $gimblet-color;
          }
        }

        &:hover {
          svg {
            path {
              fill: $tundora-color;
            }
          }
        }
      }

      .btn-arrow {
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 2;

        @media screen and(max-width: $tabletsWdide) {
          right: 2.1rem;
        }

        @media screen and(max-width: $tablets) {
          right: .5rem;
          top: 1.2rem;
        }

        @media screen and(max-width: $mobile) {
          right: .2rem;
          top: unset;
          bottom: 0;
        }
      }

      .btn-arrow.btn-arrow__skew-right {
        position: absolute;
        top: 2rem;
        left: 2rem;
        right: auto;

        @media screen and(max-width: $tabletsWdide) {
          left: 2.1rem;
        }

        @media screen and(max-width: $tablets) {
          left: .5rem;
          top: 1.2rem;
        }

        @media screen and(max-width: $mobile) {
          left: .2rem;
          top: unset;
          bottom: 0;
        }
      }


      .slick__item {
        transition: .4s;

        .slick__item__wrap-img {
          height: 5rem;

          img {
            width: 80%;
            height: auto;
          }
        }

      }

      .slick-active {
        .slick__item {
          //transform: scale(1.3);

          .slick__item__wrap-img {

            img {
              transform: scale(1);
            }
          }
        }
      }

      .slick__item__wrap-img {
        border: none;
        display: flex;
        flex-direction: column;
        //width: 6.19rem;
        //height: 4rem;

        img {
          width: 100%;
        }
      }
    }

    &__bottom-date {
      font-family: 'Raleway', sans-serif;
      font-size: .14rem;
      line-height: .26rem;
      color: $tundora-color;
      letter-spacing: .5px;
      margin-top: .3rem;
    }

    .tab-arrow-left {
      padding: 3px;
      cursor: pointer;
      display: flex;
      position: absolute;
      left: .3rem;
      top: .15rem;

      svg {
        width: .06rem;
        height: .11rem;
      }
    }

    .tab-arrow-right {
      padding: 3px;
      cursor: pointer;
      display: flex;
      position: absolute;
      right: .1rem;
      top: .15rem;

      svg {
        width: .06rem;
        height: .11rem;
      }
    }
  }

  .single-progress-title-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .web-cam {
    @media screen and(max-width: $tablets) {
      width: auto;
    }
    @media screen and(max-width: $mobile) {
      margin-left: .2rem;
      padding-top: .4rem;
    }
  }

}

.single-form-section {
  display: flex;
  justify-content: space-between;
  padding: 0 .6rem;
  margin-top: 1rem;

  .title-desc-modal-form {
    width: 5rem;


    .font-medium {
      margin-top: .5rem;

      @media screen and(max-width: $mobile) {
        margin-top: .2rem;
      }
    }

    @media screen and(max-width: $tablets) {
      width: 100%;
    }
  }

  .wrap-form {
    width: 5rem;

    @media screen and(max-width: $tablets) {
      width: 100%;
      margin-top: .6rem;

      .form-field, .form-field-select {
        width: 49%;
      }
    }

    @media screen and(max-width: $tablets) {
      .form-field:last-child {
        width: 100%;
      }
    }

    @media screen and(max-width: $mobile) {
      margin-top: .2rem;
    }
  }

  @media screen and(max-width: $tablets) {
    flex-direction: column;
    padding: 0 .3rem;
  }

  @media screen and(max-width: $mobile) {
    margin-top: .5rem;
    padding: 0 .2rem;
  }
}

.single-map-section {
  margin-top: 1rem;
}

.single-map-routes-section {
  margin-top: .5rem;
  position: relative;

  //.search-box {
  //  @media screen and(max-width: $tablets) {
  //    height: 4rem;
  //    width: 100%;
  //  }
  //  @media screen and(max-width: $mobile) {
  //    height: 3rem;
  //  }
  //}
}

.single-map-routes-section > div {
  @media screen and(max-width: $tablets) {
    height: 8rem !important;
  }
  @media screen and(max-width: $mobile) {
    height: 6rem !important;
  }
}

.single-banner-section {
  margin-top: .5rem;
  padding: 0 .5rem;

  .btn-primary {
    margin-top: .4rem;
    background: $white-color;

    span {
      color: $tundora-color;
    }

    &:before {
      background-color: $tundora-color;
    }

    &:hover span {
      color: $white-color;
      z-index: 1;
    }
  }

  @media screen and(max-width: $mobile) {
    padding: 0;
  }
}

.single-img-full-with-section {
  margin-top: .5rem;
}

.single-instagramm-section {
  margin-top: 1rem;

  @media screen and(max-width: $mobile) {
    margin-top: .6rem;
  }

}

@media screen and(max-width: $mobile) {

  .single-advantages-section {
    .slick-track {
      display: flex;
      align-self: center;
    }

    .slick-arrow {
      display: none !important;
    }

  }

}


// .preloadWhite{
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   background-color: #fff;
//   z-index: 999999999;
//   transition: 3s;
//   opacity: 1;
// }
// .preloadWhite.loaded{
//   opacity: 0;
//   z-index: -1;
//   ;
//   //display: none;
// }
.preload{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 1111211111;
}
.preload-content{
  margin: 100px;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
  background-color: #000;
  opacity: 1;
}
@-webkit-keyframes preloaderOff {
  100% {
    margin: 0px;
    width: 100%;
    height: 100%;

  }
}

@keyframes preloaderOff {
  100% {
    margin: 0px;
    width: 100%;
    height: 100%;
  }
}
@-webkit-keyframes preloaderOff2 {
  100% {
    margin: 0px;
    width: 100%;
    height: 0%;
    opacity: 0;
  }
}

@keyframes preloaderOff2 {
  100% {
    margin: 0px;
    width: 100%;
    height: 0%;
    opacity: 0;
  }
}
.preloaderOff .preload-content{
  -webkit-animation: preloaderOff 1s!important;
  animation: preloaderOff 1s!important;
  animation-fill-mode: both!important;
  transition: 1s;
}
.preloaderOff2{
  -webkit-animation: preloaderOff2 3s!important;
  animation: preloaderOff2 3s!important;
  animation-fill-mode: both!important;
  animation-delay: 2s!important;
  transition: 3s;
}
.temp-class.slider__item:before{
  background: transparent!important;
  transition: 1s;
}

//.preloaderOff{
//  opacity: 0;
//  transition: 2s;
//}
