@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Regular.woff2') format('woff2'),
        url('Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Bold';
    src: url('Raleway-Bold.woff2') format('woff2'),
    url('Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Medium';
    src: url('Raleway-Medium.woff2') format('woff2'),
    url('Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica.woff2') format('woff2'),
    url('Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

